body {
  background-image: url('OldPaperImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'BlackJaguarDemoRegular', 'Helvetica';
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

header {
  background-color: transparent; /* Remover o fundo cinza */
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative; /* Adicionar uma posição relativa para o elemento pai */
}

h1 {
  font-size: 48px;
  margin: 0;
  color: #000000	;
  position: relative; /* Adicionar uma posição relativa para o título */
}

h1::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Ajustar a posição vertical do efeito de fogo */
  left: 50%;
  transform: translateX(-50%); /* Centralizar horizontalmente */
  width: 100px;
  height: 20px;
  background-image: linear-gradient(to right, #ff0000, #ffd700); /* Efeito de fogo usando gradiente linear */
}

h2 {
  font-size: 32px;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #888;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

@font-face {
  font-family: 'BlackJaguarDemoRegular';
  src: url('fonts/BlackJaguarDemoRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'KingFont';
  src: url('fonts/KIN668.ttf') format('truetype');
}

/* Adicione mais declarações @font-face conforme necessário para outras fontes */
